<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button expand="full" color="primary" (click)="criarDiretorio()">Criar diretório</ion-button>
  <br>
  <ion-button expand="full" color="primary" (click)="criarArquivo()">Criar arquivo</ion-button>
  <br>
  <ion-button expand="full" color="primary" (click)="escreverArquivo()">Escrever no arquivo</ion-button>
  <!--<br>
  <ion-button expand="full" color="primary" (click)="lerArquivo()">Ler arquivo</ion-button>-->
</ion-content>
